<html>
    <head>
        <title>Sport Rental App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="soccer icon"></i>Sport Rental Site</div>
                <a href="/" class="item">Home</a>
                <a href="/sports" class="item">List of Equipment</a>
                <a href="/sports/new" class="item">Add Equipment</a>
            </div>
        </div>
    