<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="/app.css">
    </head>
<body>
    <h1>Welcome</h1>
    
    <a href="./sports"><button type="button">List of Sport Equipment</button></a>
    
    <p>By Song</p>
</body>
</html>