<% include ./partials/header %>
<div class="ui main text container segment">
    <h1>Sport List</h1>
    <table>
        <thead>
            <tr> 
                <th>Equipment Name</th>
                <th>Quantity</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
             <% sports.forEach(function(sport){ %>
                <tr>
                    <td><%= sport.name %></td>
                    <td><%= sport.quantity %></td>
                    <td><%= sport.description %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<% include ./partials/footer %>