table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-style: ridge;
    margin-top: 10px; 
    margin-bottom: 50px;
    margin: 0 auto;
    background-color:rgb(255, 165, 50);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
   
}

i.icon {
    font-size: 2em;
}

.container.main{
    margin-top: 7.0em;
}